/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-tab-bar {
    padding-bottom: var(--safe-area-inset-bottom);

}

ion-header {
    --padding-top: var(--safe-area-inset-top);
}

.menu {
    padding-top: var(--safe-area-inset-top);
    padding-bottom: var(--safe-area-inset-bottom);
}